<div class='patient_show'>

<p id="notice"><%= notice %></p>

<div class='pat_info'>
<h1><%= @patient.firstname %>&nbsp<%= @patient.lastname %></h1><br />
<% if @patient.email != ''%>
	Email: <%= @patient.email %><br />
<% end %>
Birthday: <%= @patient.birthday %><br />
Sex: <%= @patient.sex %><br />
<% if @patient.homephone != ''%>
	Home Phone: <%= @patient.homephone %><br />
<% end %>
<% if @patient.cellphone != ''%>
	<%= @patient.cellphone %><br />
<% end %>
<% if @patient.workphone != ''%>
	<%= @patient.workphone %><br />
	<% if @patient.extension != ''%>
		<%= @patient.extension %><br />
	<% end %>
<% end %>
<%= @patient.primaryaddress %><br />
<%= @patient.country %><br />
<%= @patient.province %><br />
<%= @patient.city %><br />
<%= @patient.postalcode %><br />

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
</div>

<%= render template: "paymethods/index" %>
<%= render template: "visits/index" %>
<div class='doc_pat'> <%= render template: "doctors/index" %> </div>
<%= render template: "invoices/index" %>

</div>