<%= form_for(ehi) do |f| %>
  <% if ehi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ehi.errors.count, "error") %> prohibited this ehi from being saved:</h2>

      <ul>
      <% ehi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :company %>
  <%= f.text_field :company %><br />

  <%= f.label :holdername %>
  <%= f.text_field :holdername %><br />

  <%= f.label :holderbday %>
  <%= f.date_field :holderbday %><br />

  <%= f.label :relationshiptoclient %>
  <%= f.text_field :relationshiptoclient %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
