<p id="notice"><%= notice %></p>

<h1>Ehis</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ehis.each do |ehi| %>
      <tr>
        <td><%= link_to 'Show', ehi %></td>
        <td><%= link_to 'Edit', edit_ehi_path(ehi) %></td>
        <td><%= link_to 'Destroy', ehi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ehi', new_ehi_path %>
