<%= form_for(insurance) do |f| %>
  <% if insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

      <ul>
      <% insurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :policynumber %>
  <%= f.text_field :policynumber %><br />

  <%= f.label :type %>
  <%= f.text_field :type %><br />

  <%= f.label :dateofloss %>
  <%= f.date_field :dateofloss %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
