<%= form_for(mva) do |f| %>
  <% if mva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mva.errors.count, "error") %> prohibited this mva from being saved:</h2>

      <ul>
      <% mva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :holdername %>
  <%= f.text_field :holdername %><br />

  <%= f.label :holderbday %>
  <%= f.text_field :holderbday %><br />

  <%= f.label :claimnumber %>
  <%= f.text_field :claimnumber %><br />

  <%= f.label :relationshiptoclient %>
  <%= f.text_field :relationshiptoclient %><br />

  <%= f.label :adjustorname %>
  <%= f.text_field :adjustorname %><br />

  <%= f.label :branchnumber %>
  <%= f.text_field :branchnumber %><br />

  <%= f.label :company %>
  <%= f.text_field :company %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
