<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.label :issuedate %>
   <%= f.date_field :issuedate %><br />

    <%= f.label :outstandingamt %>
  <%= f.text_field :outstandingamt %><br />

   <%= f.label :comments %>
  <%= f.text_field :comments %><br />

   <%= f.label :marked %>
  <%= f.text_field :marked %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
