<!DOCTYPE html>
<html>
  <head>
    <title>Care</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="menu">
  		  <%= link_to "Patients", patients_path() %><!--
  		  --><%= link_to "Doctors", doctors_path() %><!--
  		  --><%= link_to "Staffs", staffs_path() %><!--
  		  --><%= link_to "Services", services_path() %> 
  	  </div> 	
      <%= yield %>
      <footer class="footer"> Footer </footer>
    </div>
  </body>
</html>
