<%= form_for(doctor) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %><br />

  <%= f.label :lastname %>
  <%= f.text_field :lastname %><br />

  <%= f.label :primaryaddress %>
  <%= f.text_field :primaryaddress %><br />

  <%= f.label :country %>
  <%= f.text_field :country %><br />

  <%= f.label :province %>
  <%= f.text_field :province %><br />

  <%= f.label :city %>
  <%= f.text_field :city %><br />

  <%= f.label :postalcode %>
  <%= f.text_field :postalcode %><br />

  <%= f.label :workphone %>
  <%= f.text_field :workphone %><br />

  <%= f.label :extension %>
  <%= f.text_field :extension %><br />

  <%= f.label :fax %>
  <%= f.text_field :fax %><br />

  <%= f.label :email %>
  <%= f.text_field :email %><br />

  <%= f.label :specialization %>
  <%= f.select :specialization, ['family', 'chiropractor', 'other'] %><br />

  <%= f.label :comments %>
  <%= f.text_field :comments %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
