<%= form_for(payment) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :paymethod %>Pay
  <%= f.collection_select :paymethod_id, Paymethod.where(patient_id: @patient_id), :id, :paytype %> <br />

  <%= f.label :amtdue %>
  <%= f.text_field :amtdue %><br />

  <%= f.label :amtpaid %>
  <%= f.text_field :amtpaid %><br />

  <%= f.hidden_field :invoice_id, :value => @invoice_id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
